@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}
<!-- Page title -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-auto">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                Manage
            </div>
            <h2 class="page-title">
                Your Account
            </h2>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                @*<partial name="_ManageNav" />*@
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Styles {
    @RenderSection("Styles", required: false)
}
@section Scripts {
    @RenderSection("Scripts", required: false)
}


