@page
@model ProfileSettings

@{
    ViewData["Title"] = "Profile Settings";
    ViewData["ActivePage"] = ManageNavPages.ProfileSettings;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="change-profile-form" method="post" enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center pb-3">
            <div class="profile-picture-wrapper position-relative">
                <img src="@(Model.Input.ProfilePicture ?? "/images/avatar5.png")" alt="Profile Picture" class="profile-picture img-circle elevation-2" id="profileImage">
                <input type="file" class="form-control-file profile-picture-input" asp-for="ProfilePicture" onchange="previewImage(event)">
                <label for="profilePicture" class="profile-picture-icon">
                    <i class="fas fa-camera"></i>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating pb-2">
                <input asp-for="Input.Email" class="form-control" disabled />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating pb-2">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName" class="form-label"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating pb-2">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName" class="form-label"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating pb-2">
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating pb-2">
                <input asp-for="Input.IdNumber" class="form-control" aria-required="true" />
                <label asp-for="Input.IdNumber" class="form-label"></label>
                <span asp-validation-for="Input.IdNumber" class="text-danger"></span>
            </div>
            <div class="form-floating pb-2">
                <input asp-for="Input.Handicap" class="form-control" aria-required="true" />
                <label asp-for="Input.Handicap" class="form-label"></label>
                <span asp-validation-for="Input.Handicap" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>

@section Styles {
    <style>
        .profile-picture-wrapper {
            position: relative;
            display: inline-block;
        }

        .profile-picture {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }

        .profile-picture-input {
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }

        .profile-picture-icon {
            position: absolute;
            bottom: 0;
            right: 0;
            background: #007bff;
            color: white;
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('profileImage');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}
