@inject SignInManager<Template.Areas.Identity.Data.ApplicationUser> signInManager;
@inject UserManager<Template.Areas.Identity.Data.ApplicationUser> userManager;

<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container" style="max-width: 1401px;">
        <a href="/HomeFrontEnd/Index" class="navbar-brand">
            <img src="/images/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3" style=" opacity: .8;">
            <span class="brand-text font-weight-light">Augussta</span>
        </a>
        <ul class="navbar-nav ml-auto">
            @if (signInManager.IsSignedIn(User))
            {
                var user = await userManager.GetUserAsync(User);
                var email = user?.Email;
                var profilePictureUrl = user?.ProfilePicture ?? "/images/avatar5.png";

                <li class="nav-item dropdown">
                    <a class="nav-link d-flex align-items-center" data-toggle="dropdown" href="#userDropdown">
                        <img src="@profilePictureUrl" alt="" class="img-circle elevation-2" style="width: 30px; height: 30px;">
                        <span class="ml-2">@email</span>
                    </a>
                    <div id="userDropdown" class="dropdown-menu" style="width: -webkit-fill-available !important;">
                        <a href="~/Identity/Account/Manage/ProfileSettings" class="dropdown-item"><i class="fas fa-user"></i>  Profile</a>
                        <a href="~/HomeFrontEnd/Index" class="dropdown-item"><img src="/images/AdminLTELogo.png" alt="Logo" class="img-circle" style="opacity: .8; width: 20px; height: 21px; margin-left: -4px;">  Home Page</a>
                        @*<a href="~/Identity/Account/Logout" class="dropdown-item">Logout</a>*@
                        <form method="post" action="~/Identity/Account/Logout" class="dropdown-item">
                            <button type="submit" class="btn btn-link dropdown-item m-0 p-0" style="text-decoration: none; color: inherit;">Logout</button>
                        </form>
                    </div>
                </li>
            }
        </ul>
    </div>
</nav>